html,
body {
  margin: 0;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif; }

canvas {
  height: 100% !important; }

.button {
  padding: 12px 25px;
  margin: 0 7px;
  font-size: 17px;
  font-weight: 400; }

.main-menu {
  position: absolute;
  width: 100%;
  z-index: 1001;
  padding: 20px 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05); }
  .main-menu ul {
    list-style-type: none;
    margin: 0;
    padding-top: 15px; }
    .main-menu ul a {
      margin: 0 10px;
      color: #fff;
      font-weight: 400; }
    .main-menu ul li {
      display: inline-block; }

.main-title {
  width: 100%;
  height: 800px;
  z-index: 100;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .main-title #particles {
    background-color: #061927;
    height: 100%; }
    .main-title #particles .main-title-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .main-title #particles .main-title-text h1 {
        color: #fff;
        font-family: "mr-eaves-modern",sans-serif;
        font-weight: 400;
        font-size: 51px;
        margin-top: 0px;
        pointer-events: none;
        margin-bottom: 50px; }
      .main-title #particles .main-title-text p {
        font-family: "roboto",sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.65);
        max-width: 500px;
        margin: 0 auto; }
      .main-title #particles .main-title-text .btn-brand {
        background-color: #4cb79c;
        border: 2px solid #4cb79c;
        color: #fff; }
      .main-title #particles .main-title-text .btn-light {
        border: 2px solid #4cb79c;
        color: #4cb79c; }

.second {
  background: linear-gradient(to right, #4cb79c, #004f76);
  color: #fff;
  padding: 100px 0; }
