$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;

$vectorleap: #e14b2d;

@mixin hover-state {
  &:hover, &:active, &:focus {
    @content;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
}

.main-menu {
  padding:20px 0;
  box-shadow: 0 4px 25px -2px rgba(198, 32, 27, 0.75);
  position: relative;
  z-index: 1000;
  ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding-top: 20px;
    a {
      display: inline-block;
      color: #4d4d4d;
      transition: all .3s;
      margin: 0 7px;
      @include hover-state {
        text-decoration: none;
        cursor: pointer;
        color: $vectorleap;
        transition: all .3s;
      }
      li {
        font-weight: $bold;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.main-title {
  width: 100%;
  height: calc(100% - 100px);
  z-index: 100;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  #particles-js {
    //background-color: #e12e25;
    background: linear-gradient(to bottom, $vectorleap, #c6201b);
    height: 100%;
    h1 {
      color: #fff;
      font-weight: $regular;
      font-size: 68px;
      margin: 0;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
    }
  }
}

.second {
  background-color: #f9e1e1;
  height:150px;
  width: 100%;
}

